@model ValidadorCartaoCredito.Models.DadosCartao

<script type="text/javascript">

function mascara(o, f) {
    v_obj=o
    v_fun=f
    setTimeout("execmascara()",1)
}
function execmascara(){
    v_obj.value=v_fun(v_obj.value)
}
function mcc(v){
    v=v.replace(/\D/g,"");
    v=v.replace(/^(\d{4})(\d)/g,"$1 $2");
    v=v.replace(/^(\d{4})\s(\d{4})(\d)/g,"$1 $2 $3");
    v=v.replace(/^(\d{4})\s(\d{4})\s(\d{4})(\d)/g,"$1 $2 $3 $4");
    return v;
}
function id( el ){
	return document.getElementById( el );
}
window.onload = function(){
    id('NumeroCartao').onkeypress = function () {
		mascara( this, mcc );
    }

    id('NumeroCartao').maxLength = "19";
}
</script>


@{
    ViewBag.Title = "Home";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h2>Cartão</h2>
        <hr />        

        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.NumeroCartao, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NumeroCartao, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <br />
        <br />

        <div class="form-group">
            <div class="col-md-offset-4">
                <input type="submit" value="Validar Cartão" class="btn btn-default" />
            </div>
        </div>

    </div>
}